apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: piyasa-chatbot

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - postgres-deployment.yaml
  - redis-statefulset.yaml
  - api-deployment.yaml
  - worker-statefulset.yaml
  - frontend-deployment.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: piyasa-chatbot
  app.kubernetes.io/version: "1.0.0"
  app.kubernetes.io/managed-by: kustomize
